.app {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column; 
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;
}

.editor {
  width: 50%;
  height: 100%;
  background-color: #f5f5f5;
}

.preview {
  width: 50%;
  height: 100%;
  background-color: #f5f5f5;
}

.editor__input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
  padding: 10px;
  font-size: 16px;
}